<%= simple_form_for @registration_form, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name_of_student %><br/>
  <%= f.input :date_of_birth, wrapper_html: { id: 'dob' } %>
  <%= f.input :gender , as: :select, label: 'What is your gender?', :collection => [['Male',true],['Female',false]]%><br/>
  <%= f.input :nationality %><br/>
  <%= f.input :caste %><br/>
  <%= f.input :community_category , as: :select, label: 'What is your Category?', :collection => [['OC','OC'],['BC','BC'],['MBC','MBC'],['SC','SC'],['ST','ST'],['DNC','DNC']]%><br/>
  <%#= f.collection_select(:author, Author.all, :id, :name_with_initial) %>
  <%#= f.input :community_category, :collection => [['OC','OC'],['BC','BC']],['MBC','MBC']],['SC','SC']],['ST','ST']],['DNC','DNC']] %>
  <%= f.input :community_category_proof, as: :file %><br/>
    <%= f.simple_fields_for :sibling_existing_parents do |sibling_existing_parent|%>
    <%= sibling_existing_parent.input :name%><br/>
    <%= sibling_existing_parent.input :class%><br/>
    <%= sibling_existing_parent.input :admission_num,label: "Admission Number"%><br/>
    <% end %>
  <%= f.input :child_with_special_needs %><br/>
  <%= f.input :child_with_special_needs_proof, as: :file %><br/>
  <%= f.input :locality %><br/>
  <%= f.input :residental_address %><br/>
  <%= f.input :residental_address_proof, as: :file %><br/>
  <%= f.input :pincode , as: :integer%><br/>
  <%= f.input :landmark %><br/>
  <%= f.input :mobile_number, as: :tel %><br/>
  <%= f.input :landline_number , as: :tel%><br/>
  <%= f.input :email , as: :email%><br/>
  <%= f.simple_fields_for :father_datas do |father_data|%>
    <%= father_data.input :name,:label => "Father's / Gaurdian's Name"%><br/>
    <%= father_data.input :qualification%><br/>
    <%= father_data.input :qualification_proof, as: :file %><br/>
    <%= father_data.input :annual_income, as: :integer%><br/>
    <%= father_data.input :occupation_designation, :label => "Occupation / Designation"%><br/>
  <% end %>
  <%= f.simple_fields_for :mother_datas do |mother_data|%>
    <%= mother_data.input :name%><br/>
    <%= mother_data.input :qualification%><br/>
    <%= mother_data.input :qualification_proof, as: :file %><br/>
    <%= mother_data.input :annual_income, as: :integer%><br/>
    <%= mother_data.input :occupation_designation, :label => "Occupation / Designation"%><br/>
  <% end %>
  <%= f.input :date_of_birth_proof, as: :file %><br/>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                registration_forms_path, :class => 'btn' %>
  </div>
<% end %>
