<%- model_class = RegistrationForm -%>

<div class="col-md-10 col-md-offset-1">
<div id="sboa-info">
  <h5>Note:</h5>
  <p>Enclose the printed original registration form with required documents in a sealed envelope superscribed with registration number on the envelope and drop it in the box provided at the school office on or before 24/2/2014
  </p>
</div>
<br/>
<div class="appnum-head" align="right">

  <strong><%= model_class.human_attribute_name(:application_number) %>:</strong>
  <%= @registration_form.application_number %>

</div>
<div class="logo-show" align="center">
  <%= link_to(image_tag("logo.jpg", :alt => "logo", :title => "Home"), "/") %>
</div>
<div id="show-page" align="center">
  <h3>SBOA SCHOOL AND JUNIOR COLLEGE,CHENNAI-600101</h3>
  <h4>Registration form for LKG Admission 2014-2015</h4>
</div>
<br/>
<br/>
<div id="detail_list" class = "required-docs">
  <h5><strong>Eligibility:</strong> Children who are born between 01 December 2009 and 30 November 2010.</h5>
  <p>
    <strong>
      List of supporting Documents to be attached with the registration form at the time of submission.
    </strong>
    <ol style = "list-style-type:lower-alpha;">
      <li>Attested Photocopy of Birth Certificate of the child</li>
      <li>Proof of Residence (Photo copy of Ration Card / EB Card / Passport / Voter Id / Gas Bill / Aadhar Card / Telephone Bill only)</li>
      <li>Proof of Sibling - Copy of id card / fee challan</li>
      <li>For all categories except "OC", Attested Community Ceritificate has to be enclosed</li>
      <li>Medical Ceritificate of the Child(for children with special needs)</li>
      <li>Proof of Income</li>
      <li>Proof of Alumni - copy of 10th / 12th Marksheet</li>
    </ol>
  </p><br/>
</div>
<div class="col-md-12">
<div class="col-md-10 col-offset-md-1">
<h4>Student Details</h4>
<table class = "student-details">

  <tbody>
    <tr>
      <td> <strong>Name of the Student </strong></td>
      <td><%= @registration_form.name_of_student %></td>
    </tr>
    <tr>
      <td><strong><%= model_class.human_attribute_name(:date_of_birth) %>:</strong> </td>
      <td> <%= @registration_form.date_of_birth %><br/></td>
    </tr>
    <tr>
      <td><strong><%= model_class.human_attribute_name(:gender) %>:</strong></td>
      <td>
        <% if @registration_form.gender %>
        MALE
        <% else %>
        FEMALE
        <% end %>
      </td>
    </tr>
    <tr>
      <td><strong>Father's name:</strong></td>
      <td><%= @registration_form.father_data.name %></td>
    </tr>
    <tr>
      <td><strong>Mother's name:</strong></td>
      <td><%= @registration_form.mother_data.name %></td>
    </tr>
    <tr>
      <td><strong><%= model_class.human_attribute_name(:nationality) %>:</strong></td>
      <td><%= @registration_form.nationality %></td>
    </tr>
    <tr>
      <td><strong><%= model_class.human_attribute_name(:religion) %>:</strong></td>
      <td><%= @registration_form.religion %></td>
    </tr>
    <tr>
      <td><strong><%= model_class.human_attribute_name(:caste) %>:</strong></td>
      <td><%= @registration_form.caste %></td>
    </tr>
    <tr>
      <td><strong><%= model_class.human_attribute_name(:community_category) %>:</strong></td>
      <td><%= @registration_form.community_category %></td>
    </tr>
    <tr>
      <td><strong><%= model_class.human_attribute_name(:student_category) %>:</strong></td>
      <td>
        <%= @registration_form.student_category.name %>
        <% case @registration_form.student_category.id %>
        <% when 2 %>
        <tr>
          <td><strong><%= model_class.human_attribute_name(:membership_number) %>:</strong></td>
          <td><%= @registration_form.student_cat_reg_form.sbi_grand_parent.membership_number %></td>
        </tr>
        <tr>
          <td><strong><%= model_class.human_attribute_name(:grandfather_name) %>:</strong></td>
          <td><%= @registration_form.student_cat_reg_form.sbi_grand_parent.grandfather_name %></td>
        </tr>
        <tr>
          <td><strong><%= model_class.human_attribute_name(:branch) %>:</strong></td>
          <td><%= @registration_form.student_cat_reg_form.sbi_grand_parent.branch %></td>
        </tr>

        <% when 3 %>

        <tr>
          <td><strong><%= model_class.human_attribute_name(:membership_number) %>:</strong></td>
          <td><%= @registration_form.student_cat_reg_form.sbi_officer.membership_number %></td>
        </tr>

        <tr>
          <td><strong><%= model_class.human_attribute_name(:branch) %>:</strong></td>
          <td><%= @registration_form.student_cat_reg_form.sbi_officer.branch %></td>
        </tr>
        <% when 4 %>

        <tr>
          <td><strong><%= model_class.human_attribute_name(:admission_number) %>:</strong></td>
          <td><%= @registration_form.student_cat_reg_form.pre_school.admission_number %></td>
        </tr>

        <% when 5 %>

        <tr>
          <td><strong><%= model_class.human_attribute_name(:year_of_passing) %>:</strong></td>
          <td><%= @registration_form.student_cat_reg_form.alumni.year_of_passing %></td>
        </tr>        

        <tr>
          <td><strong>School:</strong></td>
          <td><%= @registration_form.student_cat_reg_form.alumni.alumni_category %></td>
        </tr>          
        <% when 6 %>
        <tr>
          <td><strong><%= model_class.human_attribute_name(:branch) %>:</strong></td>
          <td><%= @registration_form.student_cat_reg_form.staff_child.branch %></td>
        </tr>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<br/><br/>

<h4>Communication Details</h4>

<table class = "student-details">

  <tbody>
    <tr>
      <td><strong><%= model_class.human_attribute_name(:locality) %>:</strong></td>
      <td><%= @registration_form.locality %></td>
    </tr>
    <tr>
      <td><strong><%= model_class.human_attribute_name(:residental_address) %>:</strong></td>
      <td><%= @registration_form.residental_address %></td>
    </tr>
    <tr>
      <td><strong><%= model_class.human_attribute_name(:residental_address2) %>:</strong></td>
      <td><%= @registration_form.residental_address2 %></td>
    </tr>
    <tr>
      <td><strong><%= model_class.human_attribute_name(:pincode) %>:</strong></td>
      <td><%= @registration_form.pincode %></td>
    </tr>
    <tr>
      <td><strong><%= model_class.human_attribute_name(:mobile_number) %>:</strong></td>
      <td><%= @registration_form.mobile_number %></td>
    </tr>
    <tr>
      <td><strong><%= model_class.human_attribute_name(:landline_number) %>:</strong></td>
      <td><%= @registration_form.landline_number %></td>
    </tr>
    <tr>
      <td><strong><%= model_class.human_attribute_name(:email) %>:</strong></td>
      <td><%= @registration_form.email %></td>
    </tr>
  </tbody>
</table>
<br/><br/>

<h4>Sibling<small>(SBOA School & Junior College Only)</small></h4>
<table class = "student-details">

  <tbody>
    <tr>
      <td><strong><%= model_class.human_attribute_name(:sibling) %>:</strong></td>
      <%if @registration_form.sibling %>
      <td>Yes</td>
    </tr>

    <tr>
      <td><strong><%= model_class.human_attribute_name(:name) %>:</strong></td>
      <td><%= @registration_form.sibling_existing_parent.name %></td>
    </tr>

    <tr>
      <td><strong>Class:</strong></td>
      <td><%= @registration_form.sibling_existing_parent.class_of_sibling %></td>
    </tr>

    <tr>
      <td><strong><%= model_class.human_attribute_name(:section) %>:</strong></td>
      <td><%= @registration_form.sibling_existing_parent.sec %></td>
    </tr>

    <tr>
      <td><strong><%= model_class.human_attribute_name(:admission_number) %>:</strong></td>
      <td><%= @registration_form.sibling_existing_parent.admission_num %></td>
    </tr>

    <%else %>
    <td>No</td>
  </tr>
<% end %>

<%# if @registration_form.sibling_existing_parent %>

<%# end %>
<!--  -->
<tr>
<td><strong>Child with special needs:</strong></td>
<%if @registration_form.child_special %>
<td>Yes</td>
<!--  -->
<!-- <strong><%#= model_class.human_attribute_name(:child_with_special_needs_proof) %>:</strong> -->
<!-- <%= @registration_form.child_with_special_needs_proof %> -->
<!--  -->
<%else %>
<td>No</td>
<% end %>
</tr>
</tbody>
</table>

<br/><br/>
<%# if @registration_form.child_with_special_needs %>
<!--  -->
<!-- <strong><%#= model_class.human_attribute_name(:child_with_special_needs) %>:</strong> -->
<!-- Yes -->
<!--  -->
<%#else %>
<!--  -->
<!-- <strong><%#= model_class.human_attribute_name(:child_with_special_needs) %>:</strong> -->
<!-- No -->
<!--  -->
<%# end %>

<h4>Parents Details</h4>

<div class="col-md-12">
<div class="col-md-11 col-md-offset-1">
<h5>a) Father's / Guardian's Occupation</h5></div>
<div class="col-md-10 col-md-offset-2">
<table class = "student-details">

  <tbody>
   
    <tr>  
      <td><strong>Father's Qualification:</strong></td>
      <td><%= @registration_form.father_data.qualification %></td>
    </tr>

    <tr>  
      <td><strong>Father's Annual Income:</strong></td>
      <td><%= @registration_form.father_data.annual_income %></td>
    </tr>


    <tr>
      <td><strong>Father's Occupation / Designation:</strong></td>
      <td><%= @registration_form.father_data.occupation_designation %></td>
    </tr>

    <tr>
      <td><strong>Father's Organistaion Name:</strong></td>
      <td><%= @registration_form.father_data.organisation_name %></td>
    </tr>

    <tr>
      <td><strong>Father's Organisation Address:</strong></td>
      <td><%= @registration_form.father_data.organisation_address %></td>
    </tr>

    <tr>
      <td><strong>Father's Organisation Address 2:</strong></td>
      <td><%= @registration_form.father_data.organisation_address2 %></td>
    </tr>

    <tr>
      <td><strong>Father's Organisation Type:</strong></td>
      <td><%= @registration_form.father_data.organisation_type %></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
&nbsp;<br/>
<div class="col-md-12">
<div class="col-md-11 col-md-offset-1"><h5>  b)Mother's Occupation</h5></div>
<div class="col-md-10 col-md-offset-2">
<table class = "student-details">
  <tbody>
    
    <tr>
      <td><strong>Mother's Qualification:</strong></td>
      <td><%= @registration_form.mother_data.qualification %></td>
    </tr>

    <tr>
      <td><strong>Mother's Profession:</strong></td>
      <td><% if @registration_form.mother_data.professional %>
      Home Maker
      <% else %>
      Others</td>
    </tr>

    <tr>
      <td><strong>Mother's Annual Income:</strong></td>
      <td><%= @registration_form.mother_data.annual_income %></td>
    </tr>

    <tr>
      <td><strong>Mother's Occupation / Designation:</strong></td>
      <td><%= @registration_form.mother_data.occupation_designation %></td>
    </tr>

    <tr>
      <td><strong>Mother's Organistaion Name:</strong></td>
      <td><%= @registration_form.mother_data.organisation_name %></td>
    </tr>

    <tr>
      <td><strong>Mother's Organisation Address:</strong></td>
      <td><%= @registration_form.mother_data.organisation_address %></td>
    </tr>

    <tr>
      <td><strong>Mother's Organisation Address 2:</strong></td>
      <td><%= @registration_form.mother_data.organisation_address2 %></td>
    </tr>

    <tr>
      <td><strong>Mother's Organisation Type:</strong></td>
      <td><%= @registration_form.mother_data.organisation_type %></td>
    </tr>

      <% end %>
</tbody>
</table>
</div>
</div>
</div>
</div>
<!-- <table1> -->
<!-- <div class="prooflist"> -->
<!-- <p> -->
<!-- <strong><%#= model_class.human_attribute_name(:date_of_birth_proof) %>:</strong> -->
<!-- <%= @registration_form.date_of_birth_proof %><br/> -->
<!--  -->
<!--  -->
<!-- <strong><%#= model_class.human_attribute_name(:community_category_proof) %>:</strong> -->
<!-- <%= @registration_form.community_category_proof %><br/> -->
<!--  -->
<!--  -->
<!-- <strong><%#= model_class.human_attribute_name(:residental_address_proof) %>:</strong> -->
<!-- <%= @registration_form.residental_address_proof %><br/> -->
<!--  -->
<!-- <strong>Copy of Fee challan:</strong> -->
<!-- <%#= @registration_form.student_category_proof %> -->
<!--  -->
<!--  -->
<!-- <strong>Father's Income Proof:</strong> -->
<!-- <%#= @registration_form.father_data.income_proof %><br/> -->
<!--  -->

<!--  -->
<!-- <strong>Father's Qualification Proof:</strong> -->
<!-- <%#= @registration_form.father_data.qualification_proof %><br/> -->
<!--  -->
<!--  -->
<!-- <strong>Mother's Qualification Proof:</strong> -->
<!-- <%#= @registration_form.mother_data.qualification_proof %><br/> -->
<!--  -->
<!--  -->
<!-- <strong>Mother's Income Proof:</strong> -->
<!-- <%#= @registration_form.mother_data.income_proof %> -->
<!--  -->
<!-- </p> -->
<!-- </div> -->
<!--  -->
<!-- <strong><%#= model_class.human_attribute_name(:marksheet_proof) %>:</strong> -->
<!-- <%# @registration_form.student_categories.marksheet_proof %> -->
<!--  -->
<!--  -->
<!-- <strong>Service Retirement Proof:</strong> -->
<!-- <%# @registration_form.student_categories.service_retirement %> -->
<!--  -->
&nbsp;
<br/>
&nbsp;
<br/>
<div id="declare">
  <h4 style="text-align: center">DECLARATION BY THE PARENT</h4>
  <p style="text-align: justify">I/We hereby certify that the above information provided by me/us is correct and I/we understand that if the information found to be incorrect or false, the application shall be automatically rejected from registration process without any correspondence in this regard. I/We understand that short listing of this registration form does not guarantee admission to my ward. I/We accept the process of admission undertaken by the school and I/we will abide by the decision taken by the school authorities.
  </p><br/></div>
  <div class="col-md-12">
  <div class="father-sign pull-left">
    <h5>Signature of the Father / Guardian's</h5><br/><br/>
    <p>Father Name : <%= @registration_form.father_data.name %></p>
   </div>
    <div id="mother-sign" style="float: right">
    <h5>Signature of the Mother / Guardian's </h5><br/><br/>
    <p>Mother Name: <%= @registration_form.mother_data.name %></p>
    </div>
    </div>
    
    <div class="submit">
      <p>&nbsp;<br/>&nbsp;<br/>Submit Date :<%=Date.today%></p>
    </div>
    &nbsp;<br/>&nbsp;<br/>
    <div class="hide-button">
      <%= link_to t('.back', :default => t("helpers.links.back")),
      new_registration_form_path, :class => 'btn btn-md btn-default'  %>
      <%= link_to "Edit", edit_registration_form_path(@registration_form), class: "btn btn-md btn-success" %>
  <%#= link_to t('.edit', :default => t("helpers.links.edit")),
  edit_registration_form_path(@registration_form), :class => 'btn' %>
  <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
              registration_form_path(@registration_form),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
              <input type="button" value="Print PDF" onClick="window.print();">
              
              <!-- <button><%#=link_to_function("Download PDF", "window.print();")%></button> -->
              <%= link_to "Download PDF", registration_form_path(@registration_form, :format => 'pdf'),:class => 'btn' %>
      </div>            
      </div>