<p id="notice"><%= notice %></p>

<p>
  <strong>Name of student:</strong>
  <%= @registration_form.name_of_student %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @registration_form.date_of_birth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @registration_form.gender %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @registration_form.nationality %>
</p>

<p>
  <strong>Caste:</strong>
  <%= @registration_form.caste %>
</p>

<p>
  <strong>Community category:</strong>
  <%= @registration_form.community_category %>
</p>

<p>
  <strong>Student category:</strong>
  <%= @registration_form.student_category %>
</p>

<p>
  <strong>Sibling existing parent:</strong>
  <%= @registration_form.sibling_existing_parent %>
</p>

<p>
  <strong>Child with special needs:</strong>
  <%= @registration_form.child_with_special_needs %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @registration_form.locality %>
</p>

<p>
  <strong>Residental address:</strong>
  <%= @registration_form.residental_address %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @registration_form.pincode %>
</p>

<p>
  <strong>Landmark:</strong>
  <%= @registration_form.landmark %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @registration_form.mobile_number %>
</p>

<p>
  <strong>Landline number:</strong>
  <%= @registration_form.landline_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @registration_form.email %>
</p>

<p>
  <strong>Father data:</strong>
  <%= @registration_form.father_data %>
</p>

<p>
  <strong>Mother data:</strong>
  <%= @registration_form.mother_data %>
</p>

<p>
  <strong>Application number:</strong>
  <%= @registration_form.application_number %>
</p>

<%= link_to 'Edit', edit_registration_form_path(@registration_form) %> |
<%= link_to 'Back', registration_forms_path %>
