<%- model_class = RegistrationForm -%>

  <thead>
<div class="page-header">
  
</thead>

<div class="appnum-head" align="right">
<tr>
  <td><strong><%= model_class.human_attribute_name(:application_number) %>:</strong></td>
  <td><%= @registration_form.application_number %></td>
  </tr>
</div>
<style>
@media print{
.hide-button{
  display:none !important;

}
.brand{
  display:none !important;
}
.container-fluid nav-collapse{
  display:none !important;
}
body{
  background-color: green;
}
.prooflist {
   display:none !important;
}
#mother_sign h5{
  text-align:right;
  font-size: 12px;
}
#father_sign h5{
  font-size: 12px;
}
.father_name{
  font-size: 11px;
}
.mother_name{
  font-size: 11px;
}
#declare h5{
  text-align: center;
}
.page-header {
border-bottom: 1px solid #ffffff;

}
.navbar-inner{
  border: 1px solid #ffffff;
}
.navbar .btn-navbar {
  display: none;
  border-color:#ffffff;
}
.student_detail{
  font-size: 12px;
}
.student_detail h5{
     font-size: 13px;
}
#declare p{
  font-size: 10px;
}
#detail_list h5{
  font-size: 13px;
}
#detail_list ul{
  font-size: 12px;
}
#show-page h3{
   font-size: 17px;
}
#show-page h4{
   font-size: 15px;
}
}
</style>
<div id="show-page" align="center">
  <h3>SBOA SCHOOL JUNIOR COLLEGE,CHENNAI-600101</h3>
<h4>Registration form for LKG Admission 2013-2014</h4>
</div>
<div id="detail_list">
<h5><strong>Eligibility:Children who are born between 30 November 2010 and 30 November 2011.</strong></h5>
<p>
<h5>List of supporting Documents to be attached with the registration form at the time of submission.</h5>
<ul>
  <li>Attested Photocopy of Birth Certificate of the child</li>
  <li>Proof of Residence (Photo copy of Ration Card / EB Card / Passport / Voter Id / Gas Bill / Aadhar Card / Telephone Bill only)</li>
  <li>Proof of Sibling - Copy of id card / fee challan</li>
  <li>For all categories except "OC", Attested Community Ceritificate has to be enclosed</li>
  <li>Medical Ceritificate of the Child(for children with special needs)</li>
  <li>Proof of Income</li>
  <li>Proof of Alumni - copy of 10th / 12th Marksheet</li>
</p><br/>
  </div>
 <div class="student_detail">
  <table>
    <tbody>
      <div><h5>Student Details</h5></div>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:name_of_student) %>:</strong></td>
  <td><%= @registration_form.name_of_student %></td>
  </tr>
  <tr>
    <td><strong><%= model_class.human_attribute_name(:date_of_birth) %>:</strong></td>
  <td><%= @registration_form.date_of_birth %></td></tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:gender) %>:</strong></td>
  <% if @registration_form.gender %>
  <td>Male</td>
  <% else %>
  <td>Female</td>
  <% end %>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:nationality) %>:</strong></td>
  <td><%= @registration_form.nationality %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:religion) %>:</strong></td>
  <td><%= @registration_form.religion %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:caste) %>:</strong></td>
  <td><%= @registration_form.caste %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:community_category) %>:</strong></td>
  <td><%= @registration_form.community_category %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:student_category) %>:</strong></td>
  <td><%= @registration_form.student_category.name %></td>
  </tr>
  <% case @registration_form.student_category.id %>
  <% when 2 %>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:membership_number) %>:</strong></td>
  <td><%= @registration_form.student_cat_reg_form.sbi_grand_parent.membership_number %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:grandfather_name) %>:</strong></td>
  <td><%= @registration_form.student_cat_reg_form.sbi_grand_parent.grandfather_name %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:branch) %>:</strong></td>
  <td><%= @registration_form.student_cat_reg_form.sbi_grand_parent.branch %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:service_retirement) %>:</strong></td>
  <td><%= @registration_form.student_cat_reg_form.sbi_grand_parent.service_retirement %></td>
  </tr>
  <% when 3 %>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:membership_number) %>:</strong></td>
  <td><%= @registration_form.student_cat_reg_form.sbi_officer.membership_number %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:branch) %>:</strong></td>
  <td><%= @registration_form.student_cat_reg_form.sbi_officer.branch %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:sbi_id_proof) %>:</strong></td>
  <td><%= @registration_form.student_cat_reg_form.sbi_officer.sbi_id_proof %></td>
  </tr>
  <% when 4 %>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:admission_number) %>:</strong></td>
  <td><%= @registration_form.student_cat_reg_form.pre_school.admission_number %></td>
  </tr>
  <% when 5 %>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:year_of_passing) %>:</strong></td>
  <td><%= @registration_form.student_cat_reg_form.alumni.year_of_passing %></td>
  </tr>
  <tr>
  <td><strong>Category:</strong></td>
  <td><%= @registration_form.student_cat_reg_form.alumni.alumni_category %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:mark_sheet_proof) %>:</strong></td>
  <td><%= @registration_form.student_cat_reg_form.alumni.mark_sheet_proof %></td>
  </tr>
  <% when 6 %>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:branch) %>:</strong></td>
  <td><%= @registration_form.student_cat_reg_form.staff_child.branch %></td>
  </tr>
  <% when 7 %>
  <tr>
  <td><strong>RBI / SAIL Proof:</strong></td>
  <td><%= @registration_form.student_cat_reg_form.tie_up.rbi_proof %></td>
  </tr>
  <tr>
  <% end %>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:sibling) %>:</strong></td>
  <%if @registration_form.sibling %>
  <td>Yes</td>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:name) %>:</strong></td>
  <td><%= @registration_form.sibling_existing_parent.name %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:class_of_sibling) %>:</strong></td>
  <td><%= @registration_form.sibling_existing_parent.class_of_sibling %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:section) %>:</strong></td>
  <td><%= @registration_form.sibling_existing_parent.sec %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:admission_number) %>:</strong></td>
  <td><%= @registration_form.sibling_existing_parent.admission_num %></td>
  </tr>
  <%else %>
 <td>No</td>
  <% end %>
  </tr>
  <%# if @registration_form.sibling_existing_parent %>
  
  <%# end %>
  <!-- </tr> -->
  <tr>
  <td><strong>Child with special needs:</strong></td>
  <%if @registration_form.child_special %>
  <td>Yes</td>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:child_with_special_needs_proof) %>:</strong></td>
  <td><%= @registration_form.child_with_special_needs_proof %></td>
  </tr>
  <%else %>
 <td>No</td>
  <% end %>
  </tr>
  <%# if @registration_form.child_with_special_needs %>
  <!-- <tr> -->
  <!-- <td><strong><%#= model_class.human_attribute_name(:child_with_special_needs) %>:</strong></td> -->
  <!-- <td>Yes</td> -->
  <!-- </tr> -->
  <%#else %>
  <!-- <tr> -->
  <!-- <td><strong><%#= model_class.human_attribute_name(:child_with_special_needs) %>:</strong></td> -->
  <!-- <td>No</td> -->
  <!-- </tr> -->
  <%# end %>
  
  <tr>
  <td><strong><%= model_class.human_attribute_name(:locality) %>:</strong></td>
  <td><%= @registration_form.locality %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:residental_address) %>:</strong></td>
  <td><%= @registration_form.residental_address %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:residental_address2) %>:</strong></td>
  <td><%= @registration_form.residental_address2 %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:pincode) %>:</strong></td>
  <td><%= @registration_form.pincode %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:mobile_number) %>:</strong></td>
  <td><%= @registration_form.mobile_number %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:landline_number) %>:</strong></td>
  <td><%= @registration_form.landline_number %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:email) %>:</strong></td>
  <td><%= @registration_form.email %></td>
  </tr>
  <tr>
  <td><strong>Father's name:</strong></td>
  <td><%= @registration_form.father_data.name %></td>
  </tr>
  <tr>
  <td><strong>Father's Qualification:</strong></td>
  <td><%= @registration_form.father_data.qualification %></td>
  </tr>
  <tr>
  <td><strong>Father's Annual Income:</strong></td>
  <td><%= @registration_form.father_data.annual_income %></td>
  </tr>
  
  <tr>
  <td><strong>Father's Occupation / Designation:</strong></td>
  <td><%= @registration_form.father_data.occupation_designation %></td>
  </tr>
  <tr>
  <td><strong>Father's Organistaion Name:</strong></td>
  <td><%= @registration_form.father_data.organisation_name %></td>
  </tr>
  <tr>
  <td><strong>Father's Organisation Address:</strong></td>
  <td><%= @registration_form.father_data.organisation_address %></td>
  </tr>
  <tr>
  <td><strong>Father's Organisation Address 2:</strong></td>
  <td><%= @registration_form.father_data.organisation_address2 %></td>
  </tr>
  <tr>
  <td><strong>Father's Organisation Type:</strong></td>
  <td><%= @registration_form.father_data.organisation_type %></td>
  </tr>
  <tr>
  <td><strong>Mother's name:</strong></td>
  <td><%= @registration_form.mother_data.name %></td>
  </tr>
  <tr>
  <td><strong>Mother's Qualification:</strong></td>
  <td><%= @registration_form.mother_data.qualification %></td>
  </tr>
  <tr>
  <td><strong>Mother's Professional:</strong></td>
  <td><%= @registration_form.mother_data.professional %></td>
  </tr>
   <tr>
  <td><strong>Mother's Annual Income:</strong></td>
  <td><%= @registration_form.mother_data.annual_income %></td>
  </tr>
  
  <tr>
  <td><strong>Mother's Occupation / Designation:</strong></td>
  <td><%= @registration_form.mother_data.occupation_designation %></td>
  </tr>
  <tr>
   
  <tr>
  <td><strong>Mother's Organistaion Name:</strong></td>
  <td><%= @registration_form.mother_data.organisation_name %></td>
  </tr>
  <tr>
  <td><strong>Mother's Organisation Address:</strong></td>
  <td><%= @registration_form.mother_data.organisation_address %></td>
  </tr>
  <tr>
  <td><strong>Mother's Organisation Address 2:</strong></td>
  <td><%= @registration_form.mother_data.organisation_address2 %></td>
  </tr>
  <tr>
  <td><strong>Mother's Organisation Type:</strong></td>
  <td><%= @registration_form.mother_data.organisation_type %></td>
  </tr>
  <div class="prooflist">
  <tr>
  <td><strong><%= model_class.human_attribute_name(:date_of_birth_proof) %>:</strong></td>
  <td><%= @registration_form.date_of_birth_proof %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:community_category_proof) %>:</strong></td>
  <td><%= @registration_form.community_category_proof %></td>
  </tr>
  <tr>
  <td><strong><%= model_class.human_attribute_name(:residental_address_proof) %>:</strong></td>
  <td><%= @registration_form.residental_address_proof %></td>
  </tr>
  <!-- <td><strong>Copy of Fee challan:</strong></td> -->
  <!-- <td><%#= @registration_form.student_category_proof %></td> -->
  <!-- </tr> -->
  <tr>
  <td><strong>Father's Income Proof:</strong></td>
  <td><%= @registration_form.father_data.income_proof %></td>
  </tr>
  <tr>
  <td><strong>Mother's Income Proof:</strong></td>
  <td><%= @registration_form.mother_data.income_proof %></td>
  </tr>
  <tr>
  <td><strong>Father's Qualification Proof:</strong></td>
  <td><%= @registration_form.father_data.qualification_proof %></td>
  </tr>
  <tr>
  <td><strong>Mother's Qualification Proof:</strong></td>
  <td><%= @registration_form.mother_data.qualification_proof %></td>
  </tr>
  </div>
  <!-- <tr> -->
  <!-- <td><strong><%#= model_class.human_attribute_name(:marksheet_proof) %>:</strong></td> -->
  <!-- <td><%# @registration_form.student_categories.marksheet_proof %></td> -->
  <!-- </tr> -->
  <!-- <tr> -->
  <!-- <td><strong>Service Retirement Proof:</strong></td> -->
  <!-- <td><%# @registration_form.student_categories.service_retirement %></td> -->
  <!-- </tr> -->
  
  
   </tbody>
</table></div>
<br/>
<div id="declare">
  <h5>DECLARATION BY THE PARENT</h5>
  <p>I/We hereby certify that the above information provided by me/us is correct and I/we understand that if the information found to be incorrect or false, the application shall be automatically rejected from registration process without any correspondence in this regard. I/We understand that short listing of this registration form does not guarantee admission to my ward. I/We accept the process of admission undertaken by the school and I/we will abide by the decision taken by the school authorities.
  </p><br/></div>
  <div id="father_sign">
    <h5>Signature of the Father / Guardian's</h5> </div>
    <div id="mother_sign" ><h5>Signature of the Mother / Guardian's </h5></div>
<br/>
<div class="father_name">
<p>Father Name : <%= @registration_form.father_data.name %></p>
</div>
<div class="mother_name" align="right">
<p>Mother Name: <%= @registration_form.mother_data.organisation_name %></p>
</div>
<div class="submit">
<p>Submit Date :</p>
</div>
<div class="hide-button">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              registration_forms_path, :class => 'btn'  %>
  <%#= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_registration_form_path(@registration_form), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              registration_form_path(@registration_form),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
              <button><%=link_to_function("Download PDF", "javascript:print()")%></button>
  <%#= link_to "Download PDF", registration_form_path(@registration_form, :format => 'pdf'),:class => 'btn' %>
  </div>            
</div>